





<ion-view view-title="Categories">
    <ion-content style="background-color:#b2b2b2;padding-top: 26px;">
      <!--<div class="list card" ng-repeat="category in category.data">
          {{category.categories[0].title}}
          </div> -->
           <!--ng-if="c.status" ng-click="category.showCategoryDetail(c.id,c.title)"
              ng-repeat="c in cat.categories track by $index"-->
          <div ng-repeat="cat in category.data">
          <div class="item noBorder" ng-click="category.showCategoryDetail(cat.id)">

          <p style="color:black; font-size:22px; padding-top: 0;
    padding-bottom: 0;" class="gujarti">{{cat.title}}</p>

         </div>
         </div>

        </ion-content>
</ion-view>
