<ion-view view-title="{{categoryDetail.viewTitle}}">
    <ion-content style="background-color:#b2b2b2;">
        
   <div  ng-repeat="cat in categoryDetail.mainArray">   
     <div class="list card" ng-click="categoryDetail.gotoCategoryDetail(cat)">
<!--ng-click="categoryDetail.gotoCategoryDetail(categoryDetail.data)"-->
  <div class="item item-body item-black row padding" >
 <div class="card">
    <img ng-src="{{cat.attachments[0].url}}" style="width: 200px;height: 100px;">  
    </div>   
    
    <p class="title padding gujarti">
      {{cat.title}}
    </p>
    <div class="readFullArticle">
    <p style="color:white;">Read Full Article</p>
    </div>
  </div>

</div>
</div>

</ion-content>
    </ion-view>