<ion-view view-title="Net Yatra">
  <ion-content style="background-color:#b2b2b2;">
    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
    <!--<h1>Home Page</h1>-->
<!--<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div>  -->
  <ion-tabs  class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

      <ion-tab title="ALL">
        <ion-view>
        <ion-content class="hasmyHead">

         <div class="list card" ng-repeat="data in home.data">

  <div class="item item-body item-black row padding" ng-click="home.gotopostDetail(data)">
 <div class="card">
    <img src="{{data.attachments[0].url}}" style="width: 200px;height: 100px;">  
    </div>   
    
    <p class="title padding">
      {{data.title}}
    </p>
    <div class="readFullArticle">
    <p style="color:white;">Read Full Article</p>
    </div>
  </div>

</div>
</ion-content>
</ion-view>
      </ion-tab>
      
      
      
      
      
      <div ng-repeat="data in home.data">
       <ion-tab title="{{data.categories[0].title}}" on-select="home.selectCall(data)" on-deselect="home.deselect(data)">
        <ion-view>
        <ion-content class="hasmyHead">
               <!--<h4>{{home.selectedcall}}</h4>-->
            
         <div class="list card">

  <div class="item item-body item-black row padding" ng-click="home.gotopostDetail(home.sendData)">
 <div class="card">
    <img src="{{home.img}}" style="width: 200px;height: 100px;">  
    </div>   
    
    <p class="title padding">
      {{home.title}}
    </p>
    <div class="readFullArticle">
    <p style="color:white;">Read Full Article</p>
    </div>
  </div>

</div>
</ion-content>
</ion-view>
      </ion-tab>
      </div>
    </ion-tabs>
  
  </ion-content>
</ion-view>
