<ion-view view-title="Net Yatra">
  <ion-content style="background-color:#b2b2b2;">
      <div class="list card postCard card-title1" ng-repeat="data in home.data track by $index">

  <div class="item item-body item-black row" ng-click="home.gotopostDetail(data)">
 <!--<div class="card cardwidth">-->
    <div class="myWidth">
    <img ng-src="{{data.attachments[0].url}}" class="img-card">  
    <!--</div>   -->
     </div>
    <p class="title" style="margin-left: 92px; margin-top:7px;">
      {{data.title}}
    </p>
    <div class="readFullArticle">
    <p style="color:white;float: right;width: 118px;">Read Full Article</p>
    </div>
  </div>

</div>
<div class="padding" ng-if="home.data">
    <button class="button button-block button-positive" ng-click="home.loadMore()">Load more</button>
  <!--<ion-infinite-scroll ng-if="!home.noMoreItemsAvailable"
       on-infinite="home.loadMoreData()" distance="1%"></ion-infinite-scroll>-->
  </div>
  </ion-content>
</ion-view>
