/* Empty. Add your own CSS if you like */
/*.content{
    font-family:"Gujrati Saral-1"
}*/
@font-face {
    font-family: 'Aakar';
    src: url('Aakar-Medium.eot');
    src: local('Aakar'),
         url('Aakar-Medium.eot?#iefix') format('embedded-opentype'),
         url('Aakar-Medium.woff') format('woff'),
         url('aakar-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.scroll{
  overflow-y: auto;
  overflow-x: hidden;
}

.title{
  font-family:'Aakar';
  color: white !important;
  font-size: 20px !important;
}

.removeBottomPadding{
  margin-bottom: 0;
  padding: 0;
}
.noBorder{
  border:none ;
  color: black;
  background-color: inherit;
}
.icon-colors{
  color: rgba(0, 0, 0, 0.51);
  font-size: 26px !important;
}
.sidemenu-name{
  font-family: inherit;
}
.tabs-top > .tabs, .tabs.tabs-top{
  top: 0;
  /*width: 400%;*/
}
.blackBlackGround{
  background-color: black;
}
.hasmyHead{
  position: absolute;
  top:43px;
  background-color:#b2b2b2;
}
.item-black{
  background-color: rgba(17, 17, 17, 0.8);
}
.card-image{
    height: 50%;
    width: 49%;
}
.readFullArticle{
    position: absolute;
    bottom: 24px;
    right: 21px;
    
}

a.item-content{
  background-color: inherit !important;
}

ul > li{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/*a.tab-item {
padding-left: 2%;
    padding-right: 12%;
}*/